:root {
  --grey: #484848;
  --darkgrey: #343a40;
}

html {
  background-color: var(--grey);
}

body {
  background-color: var(--darkgrey);
}

.bg-grey {
  background-color: var(--grey);
}

.task-list-bg {
  background-color: var(--darkgrey);
}

.dropdown-toggle {
  color: RGBA(0, 0, 0, 0) !important;
}

.btn-victoria {
  background-color: violet;
}
.btn-dani {
  background-color: skyblue;
}

button {
  padding: 0 !important;
}

.btn-light {
  background: transparent !important;
  border: 0px solid #000 !important;
}

.btn:focus {
  border: none !important;
  box-shadow: none !important;
}

.bootstrap-select > .dropdown-toggle:focus {
  outline: none !important;
}

ul.dropdown-menu > li {
  text-align: center;
}

.dropdown-menu {
  background-color: var(--darkgrey);
}

.pdesc {
  padding-top: 0.38rem !important;
}

.date {
  margin-top: 0.5rem !important;
}

label {
  display: none;
}

.container * {
  box-sizing: border-box;
  font-size: 15px;
  word-wrap: break-word;
}

.card {
  border-top: 0px;
  border-bottom: 0px;
}

.plus {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

.top-rounded {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.left-rounded {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.right-rounded {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.task-width {
  width: 100vw;
}

.row {
  margin-top: 0;
  margin-bottom: 0;
}

.input-mt {
  margin-top: -0.35rem !important;
}
