/* Starting work on light-mode */
/* :root[color-mode="dark"] {
  --grey: #484848;
  --darkgrey: #343a40;
  --blue: #106cfc;

  --page-background: #484848;
  --darkgrey: #343a40;
  --blue: #106cfc;
}

:root[color-mode="light"] {
  --grey: #484848;
  --darkgrey: #343a40;
  --blue: #106cfc;
} */

:root {
  --grey: #484848;
  --darkgrey: #343a40;
  --lightgrey: #929292;
  --blue: #106cfc;
}

#invalidInput {
  display: none;
}

body {
  background-color: var(--darkgrey);
}

#mainContainer {
  background-color: var(--grey);
}

#newTaskNameInput {
  background-color: var(--grey);
}

.bg-darkgrey {
  background-color: var(--darkgrey);
}

.bg-grey {
  background-color: var(--grey);
}

.task-list-bg {
  background-color: var(--grey);
}

.more {
  background-color: var(--grey);
  border: 1px solid #696969;
  height: calc(1.5rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: 1vw !important;
  padding-top: 0 !important;
  right: 3px !important;
}

.description {
  background-color: var(--grey);
}

.btn-victoria {
  background-color: violet;
}

.btn-dani {
  background-color: skyblue;
}

button {
  padding: 0 !important;
}

.btn-light {
  background: transparent !important;
  border: 0px solid #000;
}

.btn:focus {
  border: none !important;
  box-shadow: none !important;
}

.btn-status {
  font-size: 0.8rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.input {
  margin-top: -0.35rem;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  border-left: 1px solid #696969;
  border-right: 1px solid #696969;
}

.form-group {
  font-size: calc(1rem + 1vw) !important;
}

.p-desc {
  padding-top: 0.38rem !important;
}

#newTaskForm {
  width: 90% !important;
}
.task-desc {
  height: calc(1.5rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: 1vw !important;
}

label {
  display: none;
}

.task-width {
  justify-self: flex-end !important;
  width: 100% !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.row {
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-menu {
  background-color: var(--grey);
}

ul.dropdown-menu > li {
  text-align: center;
}

.dropdown-toggle {
  color: RGBA(0, 0, 0, 0) !important;
}

.bootstrap-select > .dropdown-toggle:focus {
  outline: none !important;
}

.card {
  border-top: 0px;
  border-bottom: 0px;
}

.top-rounded {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.left-rounded {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.right-rounded {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.date::placeholder {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  -webkit-margin-before: -1.05rem !important;
  font-size: calc(0.75rem + 1.5vw) !important;
  color: #106cfc !important;
  margin-left: calc(-1rem + 7.75vw) !important;
  overflow: visible;
}

.date {
  font-size: calc(1.25vw) !important;
  margin-left: calc(-0.3rem + 0.05vw) !important;
  outline: none !important;
}

.bin {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: calc(0.9rem + 1vw) !important;
  color: #106cfc;
  margin-top: -0.6rem !important;
  -webkit-margin-before: -0.85rem !important;
  padding-top: calc(1.05rem) !important;
  margin-left: calc(-1.9rem + 5vw) !important;
  white-space: nowrap;
  cursor: pointer;
}

.tasklist-headers {
  font-size: calc(5.5px + 0.4vw) !important;
  width: 0vw;
  white-space: nowrap;
}

.btn-shrink {
  padding-top: calc(0.49rem + 0.15vw) !important;
  padding-bottom: calc(0.49rem + 0.15vw) !important;
  padding-left: calc(1px + 0.9vw) !important;
  padding-right: calc(1px + 0.9vw) !important;
  margin-top: calc(-5px + 0.6vw) !important;
  margin-bottom: calc(-5px + 0.6vw) !important;
  margin-left: calc(-5px + 0.5vw) !important;
  margin-right: calc(-5px + 0.5vw) !important;
  font-size: calc(0.2rem + 0.7vw) !important;
}

#due-date {
  -webkit-margin-start: calc(0.3rem + -0.75vw) !important;
}

@media (max-width: 768px) {
  div.filter-option-inner span {
    color: RGBA(0, 0, 0, 0) !important;
    padding-left: calc(1px + 0.9vw) !important;
    padding-right: calc(1px + 0.9vw) !important;
  }

  div.filter-option-inner span.btn-none {
    color: var(--blue) !important;
  }
}

[id^='bs-select'] span.text span {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

[id^='bs-select'] span.text span.btn-none {
  border: 1px solid var(--blue);
  display: inline-block;
}

@media (max-width: 992px) {
  .btn {
    border: hidden;
  }
  .btn-shrink {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 1450px) {
  .btn-shrink {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.toggler {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: calc(0.9rem + 1vw) !important;
  margin-top: -0.6rem !important;
  -webkit-margin-before: -0.6rem !important;
  white-space: nowrap;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  color: var(--grey);
}

.toggler:hover {
  color: white;
}

#taskContainer {
  background-color: var(--darkgrey);
  padding-bottom: 1rem;
}

.taskList {
  height: 50vh;
  display: grid;
  margin: auto;
}

.dropdown-item.active {
  background-color: transparent !important;
}

.dropdown-item:hover {
  background-color: var(--lightgrey) !important;
}

span > .btn-outline-primary.btn-none {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

span > .btn-outline-primary.btn-none:hover {
  color: #fff;
  background-color: #005cbe;
  border-color: #005cbe;
}
span > .btn-dani {
  background-color: skyblue;
}

span > .btn-dani:hover {
  background-color: rgb(91, 181, 217);
}

span > .btn-victoria {
  background-color: violet;
}

span > .btn-victoria:hover {
  background-color: rgb(237, 187, 237);
}

#intro {
  border-radius: 15px;
  background-color: var(--lightgrey);
  color: white;
  width: 50rem;
  margin: auto;
  text-align: center;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
