:root {
  --darkestgrey: #343a40;
  --darkgrey: #565656;
  --mediumgrey: #484848;
  --lightgrey: #717171;
}

a:not([href]):not([class]) {
  color: white;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
label {
  margin-bottom: 0;
}

a {
  color: #e1e1e1;
}

a:focus,
a:hover {
  color: steelblue;
}

.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
  margin-top: 6px;
}

body.login {
  background-color: var(--darkestgrey);
}

.relative {
  position: relative;
}
.switcher {
  margin-bottom: 70px;
}
ul.switcher li {
  list-style-type: none;
  width: 50%;
  position: absolute;
  top: 0;
}

.login-container-wrapper {
  max-width: 400px;
  margin: 15% auto 5%;
  padding: 40px;
  box-sizing: border-box;
  background: var(--darkgrey);
  position: relative;
  box-shadow: 0px 30px 60px -5px #000;
}
.login-container-wrapper .logo,
.login-container-wrapper .welcome {
  font-size: 16px;
  letter-spacing: 1px;
}
.login-container-wrapper li {
  text-align: center;
  padding: 0 15px;
  background-color: var(--lightgrey);
  height: 50px;
  line-height: 50px;
  box-shadow: inset 0 -2px 0 0 #ccc;
  cursor: pointer;
}
.login-container-wrapper li a {
  color: #fff;
}
.login-container-wrapper li a:hover {
  color: #ccc;
  text-decoration: none;
}

.login-container-wrapper li a:active,
.login-container-wrapper li a:focus {
  color: #fff;
  text-decoration: none;
}
.login-container-wrapper li.active {
  background-color: transparent;
  box-shadow: none;
}
.login-container-wrapper li.active a {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.login input:focus + .fa {
  color: white !important;
}

.login-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-form i {
  position: absolute;
  top: 0;
  left: 19px;
  line-height: 52px;
  color: steelblue;
  z-index: 100;
  font-size: 16px;
}

.fa-user:focus {
  color: var(--darkestgrey) !important;
}

.login-form .input-lg {
  font-size: 16px;
  height: 52px;
  padding: 10px 40px;
  border-radius: 0;
  padding-top: 15px;
}

.login input[type='email'],
.login input[type='password'],
.login input:focus {
  background-color: var(--mediumgrey);
  border: 3px solid var(--darkestgrey);
  color: #eee;
  border-radius: 7px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(40, 52, 67, 0.75) !important;
  background-image: none;
  color: rgb(0, 0, 0);
  border-color: #faffbd;
}

.login .checkbox label,
.login .checkbox a {
  color: #ddd;
  vertical-align: top;
}
input[type='checkbox']:checked + label::before,
.checkbox-success input[type='radio']:checked + label::before {
  background-color: steelblue !important;
}
.btn-success {
  background-color: steelblue;
  background-image: none;
  padding: 8px 50px;
  margin-top: 20px;
  border-radius: 7px;
  border: 3px solid var(--darkestgrey);
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success.active:hover,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active {
  background-color: steelblue;
  border-color: steelblue;
  box-shadow: 0px 5px 35px -5px steelblue;
  text-shadow: 0 0 8px #fff;
  color: #fff;
  outline: none;
}

.round-top-left {
  border-top-left-radius: 10px;
}

.round-top-right {
  border-top-right-radius: 10px;
}

.ajs-message {
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 10px !important;
  width: 400px !important;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  right: 410px !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 5vh !important;
}

.ajs-notify {
  background-color: steelblue !important;
  color: white !important;
}

.login-container-wrapper li.active a {
  border-bottom: 2px solid steelblue;
}

.login-container-wrapper li.active {
  background-color: var(--darkgrey);
}

.login-container-wrapper li {
  box-shadow: inset 0 -3px 0 0 var(--darkestgrey);
}

.login-container-wrapper {
  border-radius: 12px !important;
  border-left: 3px solid var(--darkestgrey) !important;
  border-right: 3px solid var(--darkestgrey) !important;
  border-bottom: 3px solid var(--darkestgrey) !important;
  border-top: 3px solid var(--darkestgrey) !important;
  border-top-left-radius: 8px;
}

.login-selected-login {
  left: 0;
  border-right: 4px solid var(--darkestgrey);
  border-top-right-radius: 10px;
  border-top: 3px solid var(--darkestgrey);
  border-top-left-radius: 10px !important;
  margin-top: -8px;
  z-index: 1;
}

.login-selected-signup {
  right: 0;
  border-bottom-left-radius: 11px;
  width: 51% !important;
  border-top-left-radius: 7px;
  border: none;
  box-shadow: inset 3px -3px 0 0 var(--darkestgrey) !important;
  z-index: 0;
}

.signup-selected-login {
  left: 0;
  border-bottom-right-radius: 11px;
  width: 51.2% !important;
  border: none;
  border-right: 4px solid var(--darkestgrey) !important;
  z-index: 0;
}

.signup-selected-signup {
  right: 0;
  border-left: 4px solid var(--darkestgrey);
  border-top-right-radius: 10px;
  border-top: 3px solid var(--darkestgrey);
  border-top-left-radius: 10px !important;
  margin-top: -8px;
  z-index: 1;
}

.switcher {
  background: var(--light);
}

#tab-div {
  background: var(--lightgrey);
}

.taskr {
  padding-top: 2rem;
  margin-bottom: calc(-2.5rem - 6vw);
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 6rem;
}
.me {
  color: steelblue;
}

.alertify-notifier .ajs-message {
  text-shadow: none !important;
}

.alertify-notifier * {
  color: var(--darkestgrey) !important;
}
