:root {
  --darkestgrey: #343a40;
  --darkgrey: #565656;
  --mediumgrey: #484848;
  --lightgrey: #717171;
}

body {
  background-color: var(--darkestgrey);
}

#invalidInput {
  display: none;
}

#mainContainer {
  background-color: var(--mediumgrey);
}

#newTaskNameInput {
  background-color: var(--darkestgrey);
  border: 0 !important;
  border-radius: 7px !important;
  outline: none !important;
  padding-left: 1.5rem !important;
}

#addnewtaskdiv {
  padding-left: 0 !important;
  padding-right: 1.5rem !important;
}

.bg-darkestgrey {
  background-color: var(--darkestgrey);
}

.bg-success {
  background-color: rgba(91, 189, 114) !important;
  color: black !important;
}

button.bg-success:hover {
  background-color: rgb(63, 128, 78) !important;
  color: white !important;
}

button.bg-success:active {
  background-color: rgba(91, 189, 114) !important;
}

.title-bar {
  background-color: var(--darkgrey);
  border-top: 2px solid gray;
  border-left: 3px solid var(--darkestgrey);
  border-right: 2px solid grey;
  margin-bottom: 0px;
}

.plus {
  padding-left: 1.1rem !important;
  padding-right: 1.1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

.bg-grey {
  background-color: var(--darkgrey);
}

.task-list-bg {
  background-color: var(--mediumgrey);
}

.description {
  background-color: var(--darkgrey);
}

.more {
  background-color: var(--mediumgrey);
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
  height: calc(1.75rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: calc(0.6rem + 0.9vw) !important;
  padding-top: 0 !important;
  right: 3px !important;
}

.more:hover {
  background-color: var(--lightgrey);
  color: var(--darkestgrey) !important;
}

.more:focus {
  outline: none !important;
  box-shadow: none !important;
}

.filter-option {
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
}

button {
  padding: 0 !important;
}

.btn-status {
  min-width: calc(2rem + 3.5vw);
  line-height: calc(0.45rem + 1.3vw) !important;
  font-size: calc(0.3rem + 0.65vw) !important;
}

.btn {
  font-size: 0.8rem;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  min-width: calc(2rem + 3.5vw);
}

caption {
  padding: 0px !important;
  caption-side: left !important;
}

.btn-light {
  background: transparent !important;
  border: 0;
}

.btn:focus {
  border: none !important;
  box-shadow: none !important;
}

.btn-none {
  color: var(--darkestgrey);
  background-color: whitesmoke !important;
}

.btn-none:hover {
  color: #fff;
  background-color: rgb(126, 126, 126) !important;
}

.btn-none:active {
  color: var(--darkestgrey) !important;
  background-color: whitesmoke !important;
}

.btn-new {
  color: var(--darkestgrey);
  background-color: #6baadf;
  min-width: calc(2rem + 3.5vw);
}

.btn-new:hover {
  background-color: rgb(54, 103, 142);
}

.btn-new:active {
  background-color: #6baadf;
}

.btn-edit {
  color: #fff !important;
  background-color: transparent;
  min-width: calc(2rem + 3.5vw);
  border: 1px dashed var(--lightgrey) !important;
}

.btn-edit:hover {
  color: #fff !important;
  background-color: var(--darkestgrey) !important;
  border: 1px dashed var(--lightgrey) !important;
}

#btn-add-task {
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
  /* color: black; */
  margin-left: 3px !important;
}

.btn-shrink {
  display: inline-block;
  width: calc (1rem + 1vw) !important;
  height: calc (1rem + 1vw) !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: calc(0.35rem + 0.8vw);
  border: 0;
  border-radius: 5px;
}

.btn-success {
  background-color: rgba(91, 189, 114);
  color: var(--darkestgrey);
}

.btn-success:hover {
  background-color: rgb(69, 143, 87);
  color: #fff;
}

.btn-success:active {
  background-color: rgba(91, 189, 114) !important;
}

.btn-danger {
  background-color: rgb(255, 132, 132) !important;
  color: var(--darkestgrey);
}

.btn-danger:hover {
  background-color: rgb(162, 68, 68) !important;
  color: white;
}

.btn-danger:active {
  background-color: rgb(255, 132, 132) !important;
}

.btn-warning {
  background-color: burlywood !important;
}

.btn-warning:hover {
  color: #fff;
  background-color: rgb(168, 139, 102) !important;
}

.btn-warning:active {
  background-color: burlywood !important;
  color: #fff !important;
}

.btn-type {
  background-color: #9280ff;
  color: var(--darkestgrey);
}

.btn-type:hover {
  background-color: rgb(97, 81, 190);
  color: #fff;
}

.btn-type:active {
  background-color: #9280ff !important;
  color: #fff;
}

span.text {
  border-radius: 7px !important;
  border: 2px solid var(--darkestgrey);
}

.input {
  margin-top: -0.35rem;
  border: 2px solid var(--darkestgrey) !important;
}

.form-group {
  font-size: calc(1rem + 1vw) !important;
}

.form-control:focus {
  background-color: var(--mediumgrey);
  box-shadow: none !important;
}

.task-name {
  background-color: var(--mediumgrey);
  border-radius: 7px !important;
  height: calc(1.75rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: calc(0.6rem + 0.9vw) !important;
  margin-right: 3px;
}

.p-desc {
  padding-top: calc(-0.2rem + 1vw) !important;
}

#newTaskForm {
  width: 90% !important;
}
.task-desc {
  background-color: var(--mediumgrey);
  border-radius: 7px !important;
  height: calc(1.75rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: calc(0.6rem + 0.9vw) !important;
  margin-right: 3px;
}

label {
  display: none;
  color: white;
  font-size: 0.6rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  z-index: 2;
  margin-bottom: 0rem !important;
}

.task-width {
  justify-self: flex-end !important;
  width: 100% !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dropdown-menu {
  background-color: var(--darkgrey);
  border: 2px solid var(--darkestgrey);
  border-radius: 10px;
}

ul.dropdown-menu > li {
  text-align: center;
}

.dropdown-toggle {
  color: RGBA(0, 0, 0, 0) !important;
}

.bootstrap-select > .dropdown-toggle:focus,
input:focus {
  outline: none !important;
}

.card {
  border-top: 0px;
  border-bottom: 0px;
}

.top-rounded {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.left-rounded {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.right-rounded {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.date::placeholder {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  opacity: 1;
  vertical-align: middle;
  font-size: calc(0.75rem + 1.5vw) !important;
  color: steelblue !important;
  margin-left: calc(-1rem + 7.75vw) !important;
  overflow: visible;
}

:hover::placeholder {
  color: rgb(200, 200, 200) !important;
}

:hover::-moz-placeholder {
  color: rgb(200, 200, 200) !important;
}

:hover::-moz-placeholder {
  color: rgb(200, 200, 200) !important;
}

.date::-moz-placeholder {
  top: 7px;
  font-size: calc(1.3rem + 1vw) !important;
  position: relative;
  vertical-align: middle;
}

.date::-webkit-input-placeholder {
  top: 7px;
  font-size: calc(1.3rem + 1vw) !important;
  position: relative;
  vertical-align: middle;
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  .date::-webkit-input-placeholder {
    top: 0px;
  }
}

.date {
  font-size: calc(0.3rem + 0.8vw) !important;
  margin-left: calc(0.4rem + 0.05vw) !important;
  outline: none !important;
  width: 16vw !important;
  background-color: var(--mediumgrey);
  position: relative;
  z-index: 1;
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
  padding-top: 7px !important;
  padding-bottom: 8px !important;
  margin-bottom: 3px !important;
}

.bin {
  position: relative;
  width: calc(1rem + 1.3vw);
  cursor: pointer;
  margin-left: calc(20px + 1vw);
}

.bin:hover {
  filter: hue-rotate(140deg);
  -webkit-filter: hue-rotate(140deg);
}

.bin-div {
  padding-left: 7px;
}

img {
  width: calc(1rem + 1.3vw);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tasklist-headers {
  font-size: calc(0.8rem + 0.1vw) !important;
}

.tasklist-headers:hover {
  color: white;
  cursor: pointer;
}

.due-date-header {
  padding-left: 40px;
}

#taskContainer {
  background-color: var(--darkestgrey);
  padding-bottom: 1rem;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.taskList {
  height: 50vh;
  display: grid;
  margin: auto;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.dropdown-item.active {
  background-color: transparent !important;
}

.dropdown-item:hover {
  background-color: var(--lightgrey) !important;
}

#intro {
  border-radius: 10px;
  border: 3px solid var(--darkestgrey) !important;
  background-color: var(--lightgrey);
  color: var(--darkestgrey);
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  box-shadow: 0px 30px 60px -5px #000;
}

#taskHeaderBar {
  border-left: 3px solid var(--darkestgrey);
  border-right: 2px solid grey;
  border-bottom: 3px solid var(--darkestgrey);
  padding-top: 0 !important;
  background-color: var(--darkgrey);
}

@media (max-width: 992px) {
  .row {
    display: flex;
    justify-content: space-around;
  }

  #taskHeader,
  #taskHeaderBar {
    display: none;
  }

  .tasklist-headers {
    display: none;
  }

  label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .p-desc {
    padding-top: 0px !important;
  }

  #taskList {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #taskHeaderBar {
    padding-top: 0px !important;
  }

  #newTaskForm {
    width: 100% !important;
  }

  .delete-cell {
    margin-left: -6px !important;
    margin-top: -8px !important;
  }

  .bin {
    margin-left: calc(-9px + 1vw);
  }

  .taskr {
    margin-bottom: 10px;
  }

  #addnewtaskdiv {
    padding-left: 1.5rem !important;
    padding-right: 1rem !important;
  }
  .title-bar {
    border-bottom: 3px solid var(--darkestgrey);
  }
}

div.col {
  border-top: 2px solid gray;
  border-left: 3px solid var(--darkestgrey);
  border-right: 2px solid grey;
  border-bottom: 3px solid var(--darkestgrey);
  border-radius: 3px;
  margin-bottom: 0px;
}

.dropdown-toggle::after {
  margin: 0;
  content: none;
}

.flex {
  display: grid;
  align-items: center;
  text-align: center;
}

#taskList {
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
}

.delete-cell {
  margin-left: -11px;
  margin-top: -3px;
}

.text-white:not(.bg-success):not(.more):not(.save):not(.desc-save) {
  color: rgb(200, 200, 200) !important;
}

label {
  color: rgb(200, 200, 200) !important;
}

.save {
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
  height: calc(1.8rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: calc(0.6rem + 0.9vw) !important;
  padding-top: calc(0.1rem + 0.3vw) !important;
  background-color: rgba(91, 189, 114);
  color: var(--darkestgrey) !important;
}

.save:hover {
  background-color: rgb(69, 143, 87);
  color: white !important;
}

.save:active {
  background-color: rgba(91, 189, 114) !important;
}

.desc-save {
  display: none;
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 7px !important;
  height: calc(1.8rem + 1.3vw) !important;
  margin-top: auto !important;
  margin-bottom: calc(0.6rem + 0.9vw) !important;
  padding-top: calc(0.1rem + 0.3vw) !important;
  background-color: rgba(91, 189, 114);
  color: var(--darkestgrey) !important;
}

.desc-save:hover {
  background-color: rgb(69, 143, 87);
  color: white !important;
}

.desc-save:active {
  background-color: rgba(91, 189, 114) !important;
}

li.selected.active,
li.dropdown-menu,
ul.dropdown-menu.inner.show > li {
  background-color: var(--secondary);
}

*:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropup .dropdown-toggle::after {
  display: none !important;
}

.arrows {
  display: none;
  color: #6997c0;
  position: absolute;
  right: calc(-1.2rem + 2vw);
}

.arrows:hover {
  color: white;
}

.arrow-up {
  top: -10px;
}

.arrow-down {
  bottom: 5px;
}

.ajs-message {
  border: 2px solid var(--darkestgrey) !important;
  border-radius: 10px !important;
  width: 350px !important;
  right: 350px !important;
}

.alertify .ajs-dialog,
.ajs-header,
.ajs-footer {
  background-color: var(--lightgrey) !important;
}

.ajs-input {
  border: 3px solid var(--darkestgrey) !important;
  background: var(--darkgrey);
  border-radius: 10px !important;
  color: rgb(200, 200, 200) !important;
}

.ajs-button {
  color: var(--darkestgrey) !important;
}

.ajs-content {
  color: var(--darkestgrey);
}

.ajs-header {
  border-top: 3px solid var(--darkestgrey);
  border-left: 3px solid var(--darkestgrey);
  border-right: 3px solid var(--darkestgrey);
  border-bottom: none !important;
  border-radius: 10px 10px 0px 0 !important;
}

.ajs-footer {
  border-top: none !important;
  border-left: 3px solid var(--darkestgrey);
  border-right: 3px solid var(--darkestgrey);
  border-bottom: 3px solid var(--darkestgrey);
  border-radius: 0 0 10px 10px !important;
}

.ajs-ok {
  color: rgba(91, 189, 114) !important;
  background-color: var(--darkgrey) !important;
  border: 3px solid var(--darkestgrey) !important;
  border-radius: 10px;
  margin-right: 2.3rem !important;
}

.ajs-ok:hover {
  background-color: var(--darkestgrey) !important;
}

.ajs-cancel {
  color: rgb(255, 105, 105) !important;
  background-color: var(--darkgrey) !important;
  border: 3px solid var(--darkestgrey) !important;
  border-radius: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ajs-cancel:hover {
  background-color: var(--darkestgrey) !important;
}

.alertify-notifier .ajs-message {
  text-shadow: none !important;
}

.alertify-notifier * {
  color: var(--darkestgrey) !important;
}

.alertify .ajs-dialog {
  border-left: 3px solid var(--darkestgrey);
  border-right: 3px solid var(--darkestgrey);
  border-radius: 10px !important;
  padding: 21px 21px 0px 21px !important;
}

.alertify-notifier.ajs-bottom {
  bottom: 5vh !important;
}

.ajs-commands button {
  width: 30px !important;
  height: 30px !important;
  background-color: var(--darkestgrey) !important;
  border-radius: 3px !important;
  margin-right: -0.8rem;
}

.alertify .ajs-modal {
  top: 20% !important;
}

.flatpickr-calendar.arrowTop::after {
  border-bottom-color: var(--mediumgrey) !important;
}

.flatpickr-calendar {
  border: 2px solid var(--darkestgrey) !important;
  box-shadow: none !important;
  border-radius: 7px !important;
}

.flatpickr-months,
.flatpickr-month {
  border-radius: 7px !important;
  background: none !important;
}

.flatpickr-calendar.arrowTop::before {
  border-bottom-color: var(--darkestgrey) !important;
}

#log-out {
  width: 5rem;
  color: rgb(200, 200, 200);
  background-color: var(--darkestgrey);
  border-color: rgb(200, 200, 200);
  position: absolute;
  right: 30px;
  top: 9px;
}

#log-out:hover {
  border-color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  color: var(--darkestgrey);
}

#main-header {
  display: grid;
  align-items: center;
  padding-left: 1.5rem !important;
}

.loading-bro {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5rem;
  margin-top: -11rem;
  width: 10rem;
  background: rgba(49, 49, 49, 0.9);
  border-radius: 7px;
  z-index: 100;
  border: 3px solid var(--darkestgrey) !important;
}
.loading-bro > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #8e8e8e;
}

#load {
  width: 150px;
  animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: steelblue;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}

.taskr {
  display: inline;
  background: var(--darkestgrey);
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 2rem;
  border-radius: 10px;
  width: 100% !important;
}
.me {
  color: steelblue;
}
